{% extends 'layout/layout1.html' %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Scientific Name</th>
        <th scope="col">Country/Area</th>
        <th scope="col">Co-ordinates</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <form action="" method="POST">
          <td name="sname"> </td>
          <td name="country"></td>
          <td name="coords"></td>
          <td name="date"></td>
        </form>
      </tr>
 
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
{% endblock %}