<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = true;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ab6e90023c68431c8e2a0fadf0d1f177 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ab6e90023c68431c8e2a0fadf0d1f177" ></div>
        
</body>
<script>    
    
            var map_ab6e90023c68431c8e2a0fadf0d1f177 = L.map(
                "map_ab6e90023c68431c8e2a0fadf0d1f177",
                {
                    center: [20.593684, 78.96288],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_01ff22f0e47d4cac91ed7771b2263f9a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ab6e90023c68431c8e2a0fadf0d1f177);
        
    
            var marker_ceb9c5e0fbc64f55bad555b9f253378f = L.marker(
                [28.3736, 77.1709],
                {}
            ).addTo(map_ab6e90023c68431c8e2a0fadf0d1f177);
        
    
        var popup_d04c916f4ae349a2ad016ea76a7f58c2 = L.popup({"maxWidth": 200});

        
            var i_frame_a95e1e1e86e549d084323d696447b2dd = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAgCiAgICAgICAgICAgICAgICA8IWRvY3R5cGUgaHRtbD4KICAgICAgICAgICAgPGh0bWw+CiAgICAgICAgCiAgICAgICAgICAgIDxpbWcgaWQ9Im15SUZyYW1lIiBjbGFzcz0iZnJhbWUiIHdpZHRoPSIxNTBweCIgaGVpZ2h0PSIxNTBweCIgc3JjPWh0dHA6Ly9sb2NhbGhvc3Q6MzAwMC9idXR0ZXJmbHkvMi0zLmpwZyBmcmFtZWJvcmRlcj0iMCIgPjwvaW1nPgogICAgICAgICAgICA8cD5zY2llbnRpZmljIG5hbWUgOjxiPlNwaWFsaWEgR2FsYmE8L2I+PGJyPmRhdGUgOiA8Yj4yMi0wOS0yMDE5PC9iPjxicj5jbGlja2VkIGJ5IDogPGI+TmlzaGFuZCBWZW51Z29wYWw8L2I+PGJyPmxvY2F0aW9uIDogPGI+QXJhdmFsbGkgQmlvZGl2ZXJzaXR5IFBhcms8L2I+PC9wPgogICAgICAgIAogICAgICAgIAogICAgICAgICAgICA8c3R5bGU+CiAgICAgICAgCiAgICAgICAgICAgIC5mcmFtZSB7CgogICAgICAgICAgICAgICAgYm9yZGVyOiAwOwogICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICBvdmVyZmxvdzpoaWRkZW47CiAgICAgICAgICAgIAogICAgICAgICAgICB9CiAgICAgICAgICAgIDwvc3R5bGU+CiAgICAgICAgICAgIDwvaHRtbD4=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_d04c916f4ae349a2ad016ea76a7f58c2.setContent(i_frame_a95e1e1e86e549d084323d696447b2dd);
        

        marker_ceb9c5e0fbc64f55bad555b9f253378f.bindPopup(popup_d04c916f4ae349a2ad016ea76a7f58c2)
        ;

        
    
    
            var marker_a8c181d42c4241bfb0e427e839b5998d = L.marker(
                [28.4818, 77.1116],
                {}
            ).addTo(map_ab6e90023c68431c8e2a0fadf0d1f177);
        
    
        var popup_0a5eedbf1cd842c3a9d0d030658385be = L.popup({"maxWidth": 200});

        
            var i_frame_547a08f947aa4856bc928af46faf424a = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAgCiAgICAgICAgICAgICAgICA8IWRvY3R5cGUgaHRtbD4KICAgICAgICAgICAgPGh0bWw+CiAgICAgICAgCiAgICAgICAgICAgIDxpbWcgaWQ9Im15SUZyYW1lIiBjbGFzcz0iZnJhbWUiIHdpZHRoPSIxNTBweCIgaGVpZ2h0PSIxNTBweCIgc3JjPWh0dHA6Ly9sb2NhbGhvc3Q6MzAwMC9idXR0ZXJmbHkvMi0xMy5qcGcgZnJhbWVib3JkZXI9IjAiID48L2ltZz4KICAgICAgICAgICAgPHA+c2NpZW50aWZpYyBuYW1lIDo8Yj5TcGlhbGlhIEdhbGJhPC9iPjxicj5kYXRlIDogPGI+MDctMTAtMjAxNzwvYj48YnI+Y2xpY2tlZCBieSA6IDxiPlBhbmthaiBHdXB0YTwvYj48YnI+bG9jYXRpb24gOiA8Yj5BQkRQIGdhcmRlbixHdXJnYW9uPC9iPjwvcD4KICAgICAgICAKICAgICAgICAKICAgICAgICAgICAgPHN0eWxlPgogICAgICAgIAogICAgICAgICAgICAuZnJhbWUgewoKICAgICAgICAgICAgICAgIGJvcmRlcjogMDsKICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgb3ZlcmZsb3c6aGlkZGVuOwogICAgICAgICAgICAKICAgICAgICAgICAgfQogICAgICAgICAgICA8L3N0eWxlPgogICAgICAgICAgICA8L2h0bWw+" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_0a5eedbf1cd842c3a9d0d030658385be.setContent(i_frame_547a08f947aa4856bc928af46faf424a);
        

        marker_a8c181d42c4241bfb0e427e839b5998d.bindPopup(popup_0a5eedbf1cd842c3a9d0d030658385be)
        ;

        
    
    
            var marker_1c1da7a04d174f928de642c49fe7436d = L.marker(
                [28.4818, 77.1116],
                {}
            ).addTo(map_ab6e90023c68431c8e2a0fadf0d1f177);
        
    
        var popup_a7b3ca4789a643269bd6d25758911241 = L.popup({"maxWidth": 200});

        
            var i_frame_133335a7e9db48e3801482b91d59160a = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAgCiAgICAgICAgICAgICAgICA8IWRvY3R5cGUgaHRtbD4KICAgICAgICAgICAgPGh0bWw+CiAgICAgICAgCiAgICAgICAgICAgIDxpbWcgaWQ9Im15SUZyYW1lIiBjbGFzcz0iZnJhbWUiIHdpZHRoPSIxNTBweCIgaGVpZ2h0PSIxNTBweCIgc3JjPWh0dHA6Ly9sb2NhbGhvc3Q6MzAwMC9idXR0ZXJmbHkvMi0xNC5qcGcgZnJhbWVib3JkZXI9IjAiID48L2ltZz4KICAgICAgICAgICAgPHA+c2NpZW50aWZpYyBuYW1lIDo8Yj5TcGlhbGlhIEdhbGJhPC9iPjxicj5kYXRlIDogPGI+MjItMDktMjAxNzwvYj48YnI+Y2xpY2tlZCBieSA6IDxiPkFiaGlzaGVrIEd1bHNoYW48L2I+PGJyPmxvY2F0aW9uIDogPGI+QUJEUCBnYXJkZW4sR3VyZ2FvbjwvYj48L3A+CiAgICAgICAgCiAgICAgICAgCiAgICAgICAgICAgIDxzdHlsZT4KICAgICAgICAKICAgICAgICAgICAgLmZyYW1lIHsKCiAgICAgICAgICAgICAgICBib3JkZXI6IDA7CiAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgIG92ZXJmbG93OmhpZGRlbjsKICAgICAgICAgICAgCiAgICAgICAgICAgIH0KICAgICAgICAgICAgPC9zdHlsZT4KICAgICAgICAgICAgPC9odG1sPg==" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_a7b3ca4789a643269bd6d25758911241.setContent(i_frame_133335a7e9db48e3801482b91d59160a);
        

        marker_1c1da7a04d174f928de642c49fe7436d.bindPopup(popup_a7b3ca4789a643269bd6d25758911241)
        ;

        
    
    
            var marker_8684dc3f838045c9a43e4e4e8a6e6842 = L.marker(
                [28.4818, 77.1116],
                {}
            ).addTo(map_ab6e90023c68431c8e2a0fadf0d1f177);
        
    
        var popup_3f1f95f840b444a3bbdf6d0451b6e85f = L.popup({"maxWidth": 200});

        
            var i_frame_1ead9bd1f7ca49a4aba0c1f20180521c = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAgCiAgICAgICAgICAgICAgICA8IWRvY3R5cGUgaHRtbD4KICAgICAgICAgICAgPGh0bWw+CiAgICAgICAgCiAgICAgICAgICAgIDxpbWcgaWQ9Im15SUZyYW1lIiBjbGFzcz0iZnJhbWUiIHdpZHRoPSIxNTBweCIgaGVpZ2h0PSIxNTBweCIgc3JjPWh0dHA6Ly9sb2NhbGhvc3Q6MzAwMC9idXR0ZXJmbHkvMi0xNS5qcGcgZnJhbWVib3JkZXI9IjAiID48L2ltZz4KICAgICAgICAgICAgPHA+c2NpZW50aWZpYyBuYW1lIDo8Yj5TcGlhbGlhIEdhbGJhPC9iPjxicj5kYXRlIDogPGI+MTYtMDktMjAxNzwvYj48YnI+Y2xpY2tlZCBieSA6IDxiPlBhbmthaiBHdXB0YTwvYj48YnI+bG9jYXRpb24gOiA8Yj5BQkRQIGdhcmRlbixHdXJnYW9uPC9iPjwvcD4KICAgICAgICAKICAgICAgICAKICAgICAgICAgICAgPHN0eWxlPgogICAgICAgIAogICAgICAgICAgICAuZnJhbWUgewoKICAgICAgICAgICAgICAgIGJvcmRlcjogMDsKICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgb3ZlcmZsb3c6aGlkZGVuOwogICAgICAgICAgICAKICAgICAgICAgICAgfQogICAgICAgICAgICA8L3N0eWxlPgogICAgICAgICAgICA8L2h0bWw+" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_3f1f95f840b444a3bbdf6d0451b6e85f.setContent(i_frame_1ead9bd1f7ca49a4aba0c1f20180521c);
        

        marker_8684dc3f838045c9a43e4e4e8a6e6842.bindPopup(popup_3f1f95f840b444a3bbdf6d0451b6e85f)
        ;

        
    
    
            var marker_99d0f22f43e84f38a0b350650469df79 = L.marker(
                [28.4818, 77.1116],
                {}
            ).addTo(map_ab6e90023c68431c8e2a0fadf0d1f177);
        
    
        var popup_6de0883fc99a43fc899de861bd87e50f = L.popup({"maxWidth": 200});

        
            var i_frame_f9ec921fe5874941b4ac98294ace5e67 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAgCiAgICAgICAgICAgICAgICA8IWRvY3R5cGUgaHRtbD4KICAgICAgICAgICAgPGh0bWw+CiAgICAgICAgCiAgICAgICAgICAgIDxpbWcgaWQ9Im15SUZyYW1lIiBjbGFzcz0iZnJhbWUiIHdpZHRoPSIxNTBweCIgaGVpZ2h0PSIxNTBweCIgc3JjPWh0dHA6Ly9sb2NhbGhvc3Q6MzAwMC9idXR0ZXJmbHkvMi0xNi5qcGcgZnJhbWVib3JkZXI9IjAiID48L2ltZz4KICAgICAgICAgICAgPHA+c2NpZW50aWZpYyBuYW1lIDo8Yj5TcGlhbGlhIEdhbGJhPC9iPjxicj5kYXRlIDogPGI+MTYtMDktMjAxNzwvYj48YnI+Y2xpY2tlZCBieSA6IDxiPlBhbmthaiBHdXB0YTwvYj48YnI+bG9jYXRpb24gOiA8Yj5BQkRQIGdhcmRlbixHdXJnYW9uPC9iPjwvcD4KICAgICAgICAKICAgICAgICAKICAgICAgICAgICAgPHN0eWxlPgogICAgICAgIAogICAgICAgICAgICAuZnJhbWUgewoKICAgICAgICAgICAgICAgIGJvcmRlcjogMDsKICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgb3ZlcmZsb3c6aGlkZGVuOwogICAgICAgICAgICAKICAgICAgICAgICAgfQogICAgICAgICAgICA8L3N0eWxlPgogICAgICAgICAgICA8L2h0bWw+" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_6de0883fc99a43fc899de861bd87e50f.setContent(i_frame_f9ec921fe5874941b4ac98294ace5e67);
        

        marker_99d0f22f43e84f38a0b350650469df79.bindPopup(popup_6de0883fc99a43fc899de861bd87e50f)
        ;

        
    
</script>