<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = true;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_95d82a694b244ef7b04a7bf2629ec10e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_95d82a694b244ef7b04a7bf2629ec10e" ></div>
        
</body>
<script>    
    
            var map_95d82a694b244ef7b04a7bf2629ec10e = L.map(
                "map_95d82a694b244ef7b04a7bf2629ec10e",
                {
                    center: [20.593684, 78.96288],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5128fe17a2f5448aa337d4367ece29da = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_95d82a694b244ef7b04a7bf2629ec10e);
        
    
            var marker_6b45b4a82ceb4f429ce083cfc6eefe84 = L.marker(
                [19.7515, 75.7139],
                {}
            ).addTo(map_95d82a694b244ef7b04a7bf2629ec10e);
        
    
        var popup_282264b913cc4c048d6b70887c945eac = L.popup({"maxWidth": 200});

        
            var i_frame_b0f43ff27a274abbb46ce349b39c2516 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAgCiAgICAgICAgICAgICAgICA8IWRvY3R5cGUgaHRtbD4KICAgICAgICAgICAgPGh0bWw+CiAgICAgICAgCiAgICAgICAgICAgIDxpbWcgaWQ9Im15SUZyYW1lIiBjbGFzcz0iZnJhbWUiIHdpZHRoPSIxNTBweCIgaGVpZ2h0PSIxNTBweCIgc3JjPWh0dHA6Ly9sb2NhbGhvc3Q6MzAwMC9idXR0ZXJmbHkvYnV0dGVyZmx5MS5qcCBmcmFtZWJvcmRlcj0iMCIgPjwvaW1nPgogICAgICAgICAgICA8cD5zY2llbnRpZmljIG5hbWUgOjxiPnNwaWFsaWEgZ2FsYmE8L2I+PGJyPmRhdGUgOiA8Yj4wNy0wNS0yMDIxPC9iPjxicj5jbGlja2VkIGJ5IDogPGI+Z2F5YXRyaTwvYj48YnI+bG9jYXRpb24gOiA8Yj5NYWhhcmFzaHRyYTwvYj48L3A+CiAgICAgICAgCiAgICAgICAgCiAgICAgICAgICAgIDxzdHlsZT4KICAgICAgICAKICAgICAgICAgICAgLmZyYW1lIHsKCiAgICAgICAgICAgICAgICBib3JkZXI6IDA7CiAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgIG92ZXJmbG93OmhpZGRlbjsKICAgICAgICAgICAgCiAgICAgICAgICAgIH0KICAgICAgICAgICAgPC9zdHlsZT4KICAgICAgICAgICAgPC9odG1sPg==" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_282264b913cc4c048d6b70887c945eac.setContent(i_frame_b0f43ff27a274abbb46ce349b39c2516);
        

        marker_6b45b4a82ceb4f429ce083cfc6eefe84.bindPopup(popup_282264b913cc4c048d6b70887c945eac)
        ;

        
    
    
            var marker_5f3eeddc18e540f19270aebdc0d835b3 = L.marker(
                [15.0, 79.0],
                {}
            ).addTo(map_95d82a694b244ef7b04a7bf2629ec10e);
        
    
        var popup_76071ff34d9e40d0a8cfa65a58fd4763 = L.popup({"maxWidth": 200});

        
            var i_frame_e316e526d7d84798a2053927935720fa = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAgCiAgICAgICAgICAgICAgICA8IWRvY3R5cGUgaHRtbD4KICAgICAgICAgICAgPGh0bWw+CiAgICAgICAgCiAgICAgICAgICAgIDxpbWcgaWQ9Im15SUZyYW1lIiBjbGFzcz0iZnJhbWUiIHdpZHRoPSIxNTBweCIgaGVpZ2h0PSIxNTBweCIgc3JjPWh0dHA6Ly9sb2NhbGhvc3Q6MzAwMC9idXR0ZXJmbHkvYnV0dGVyZmx5LmpwZyBmcmFtZWJvcmRlcj0iMCIgPjwvaW1nPgogICAgICAgICAgICA8cD5zY2llbnRpZmljIG5hbWUgOjxiPnNwaWFsaWEgZ2FsYmE8L2I+PGJyPmRhdGUgOiA8Yj4xMy0wNS0yMDIxPC9iPjxicj5jbGlja2VkIGJ5IDogPGI+Z2F5YXRyaTwvYj48YnI+bG9jYXRpb24gOiA8Yj5BbmRocmEgUHJhZGVzaDwvYj48L3A+CiAgICAgICAgCiAgICAgICAgCiAgICAgICAgICAgIDxzdHlsZT4KICAgICAgICAKICAgICAgICAgICAgLmZyYW1lIHsKCiAgICAgICAgICAgICAgICBib3JkZXI6IDA7CiAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgIG92ZXJmbG93OmhpZGRlbjsKICAgICAgICAgICAgCiAgICAgICAgICAgIH0KICAgICAgICAgICAgPC9zdHlsZT4KICAgICAgICAgICAgPC9odG1sPg==" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_76071ff34d9e40d0a8cfa65a58fd4763.setContent(i_frame_e316e526d7d84798a2053927935720fa);
        

        marker_5f3eeddc18e540f19270aebdc0d835b3.bindPopup(popup_76071ff34d9e40d0a8cfa65a58fd4763)
        ;

        
    
    
            var marker_7ea5db5397b34fc18ed27b2e0fbf2604 = L.marker(
                [15.0, 79.0],
                {}
            ).addTo(map_95d82a694b244ef7b04a7bf2629ec10e);
        
    
        var popup_ef3507910b054883aae7425f606dde23 = L.popup({"maxWidth": 200});

        
            var i_frame_7e5f7715514b4768bab28d2d171728a4 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAgCiAgICAgICAgICAgICAgICA8IWRvY3R5cGUgaHRtbD4KICAgICAgICAgICAgPGh0bWw+CiAgICAgICAgCiAgICAgICAgICAgIDxpbWcgaWQ9Im15SUZyYW1lIiBjbGFzcz0iZnJhbWUiIHdpZHRoPSIxNTBweCIgaGVpZ2h0PSIxNTBweCIgc3JjPWh0dHA6Ly9sb2NhbGhvc3Q6MzAwMC9idXR0ZXJmbHkvYnV0dGVyZmx5LmpwZyBmcmFtZWJvcmRlcj0iMCIgPjwvaW1nPgogICAgICAgICAgICA8cD5zY2llbnRpZmljIG5hbWUgOjxiPnNwaWFsaWEgZ2FsYmE8L2I+PGJyPmRhdGUgOiA8Yj4xMy0wNS0yMDIxPC9iPjxicj5jbGlja2VkIGJ5IDogPGI+Z2F5YXRyaTwvYj48YnI+bG9jYXRpb24gOiA8Yj5BbmRocmEgUHJhZGVzaDwvYj48L3A+CiAgICAgICAgCiAgICAgICAgCiAgICAgICAgICAgIDxzdHlsZT4KICAgICAgICAKICAgICAgICAgICAgLmZyYW1lIHsKCiAgICAgICAgICAgICAgICBib3JkZXI6IDA7CiAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgIG92ZXJmbG93OmhpZGRlbjsKICAgICAgICAgICAgCiAgICAgICAgICAgIH0KICAgICAgICAgICAgPC9zdHlsZT4KICAgICAgICAgICAgPC9odG1sPg==" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_ef3507910b054883aae7425f606dde23.setContent(i_frame_7e5f7715514b4768bab28d2d171728a4);
        

        marker_7ea5db5397b34fc18ed27b2e0fbf2604.bindPopup(popup_ef3507910b054883aae7425f606dde23)
        ;

        
    
    
            var marker_fbd5673db6f843f08187a6407724f9e8 = L.marker(
                [15.0, 79.0],
                {}
            ).addTo(map_95d82a694b244ef7b04a7bf2629ec10e);
        
    
        var popup_45e3d852718a46ff9efcdc9229d62ecc = L.popup({"maxWidth": 200});

        
            var i_frame_efa0327605f14426bfbdb35262ed3424 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAgCiAgICAgICAgICAgICAgICA8IWRvY3R5cGUgaHRtbD4KICAgICAgICAgICAgPGh0bWw+CiAgICAgICAgCiAgICAgICAgICAgIDxpbWcgaWQ9Im15SUZyYW1lIiBjbGFzcz0iZnJhbWUiIHdpZHRoPSIxNTBweCIgaGVpZ2h0PSIxNTBweCIgc3JjPWh0dHA6Ly9sb2NhbGhvc3Q6MzAwMC9idXR0ZXJmbHkvYnV0dGVyZmx5Mi5qcCBmcmFtZWJvcmRlcj0iMCIgPjwvaW1nPgogICAgICAgICAgICA8cD5zY2llbnRpZmljIG5hbWUgOjxiPnNwaWFsaWEgZ2FsYmE8L2I+PGJyPmRhdGUgOiA8Yj4xMy0wNS0yMDIxPC9iPjxicj5jbGlja2VkIGJ5IDogPGI+Z2F5YXRyaTwvYj48YnI+bG9jYXRpb24gOiA8Yj5BbmRocmEgUHJhZGVzaDwvYj48L3A+CiAgICAgICAgCiAgICAgICAgCiAgICAgICAgICAgIDxzdHlsZT4KICAgICAgICAKICAgICAgICAgICAgLmZyYW1lIHsKCiAgICAgICAgICAgICAgICBib3JkZXI6IDA7CiAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgIG92ZXJmbG93OmhpZGRlbjsKICAgICAgICAgICAgCiAgICAgICAgICAgIH0KICAgICAgICAgICAgPC9zdHlsZT4KICAgICAgICAgICAgPC9odG1sPg==" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_45e3d852718a46ff9efcdc9229d62ecc.setContent(i_frame_efa0327605f14426bfbdb35262ed3424);
        

        marker_fbd5673db6f843f08187a6407724f9e8.bindPopup(popup_45e3d852718a46ff9efcdc9229d62ecc)
        ;

        
    
    
            var marker_2d1d6bf590734e01a5bcf8ee70773fc7 = L.marker(
                [15.0, 79.0],
                {}
            ).addTo(map_95d82a694b244ef7b04a7bf2629ec10e);
        
    
        var popup_ec1d68dd5d174223a57cec383332ca33 = L.popup({"maxWidth": 200});

        
            var i_frame_7df39fed86fd4b0687059894c90b8457 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAgCiAgICAgICAgICAgICAgICA8IWRvY3R5cGUgaHRtbD4KICAgICAgICAgICAgPGh0bWw+CiAgICAgICAgCiAgICAgICAgICAgIDxpbWcgaWQ9Im15SUZyYW1lIiBjbGFzcz0iZnJhbWUiIHdpZHRoPSIxNTBweCIgaGVpZ2h0PSIxNTBweCIgc3JjPWh0dHA6Ly9sb2NhbGhvc3Q6MzAwMC9idXR0ZXJmbHkvMi5qcGcgZnJhbWVib3JkZXI9IjAiID48L2ltZz4KICAgICAgICAgICAgPHA+c2NpZW50aWZpYyBuYW1lIDo8Yj5zcGlhbGlhIGdhbGJhPC9iPjxicj5kYXRlIDogPGI+MTMtMDUtMjAyMTwvYj48YnI+Y2xpY2tlZCBieSA6IDxiPmdheWF0cmk8L2I+PGJyPmxvY2F0aW9uIDogPGI+QW5kaHJhIFByYWRlc2g8L2I+PC9wPgogICAgICAgIAogICAgICAgIAogICAgICAgICAgICA8c3R5bGU+CiAgICAgICAgCiAgICAgICAgICAgIC5mcmFtZSB7CgogICAgICAgICAgICAgICAgYm9yZGVyOiAwOwogICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICBvdmVyZmxvdzpoaWRkZW47CiAgICAgICAgICAgIAogICAgICAgICAgICB9CiAgICAgICAgICAgIDwvc3R5bGU+CiAgICAgICAgICAgIDwvaHRtbD4=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_ec1d68dd5d174223a57cec383332ca33.setContent(i_frame_7df39fed86fd4b0687059894c90b8457);
        

        marker_2d1d6bf590734e01a5bcf8ee70773fc7.bindPopup(popup_ec1d68dd5d174223a57cec383332ca33)
        ;

        
    
</script>