{% extends 'layout/layout1.html' %}

{%block title %}
<div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Images Details</h1>
        <p class="lead">Find all the information of your species</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="../static/img/homes/home-2.jpg" target="_blank">
            <img src="../static/img/homes/home-2.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Species Name :</p> 
              <p>Clicked By :</p> 
              <p>Date :</p> 
              <p>Location :</p>

            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="../static/img/homes/home-2.jpg" target="_blank">
            <img src="../static/img/homes/home-2.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Species Name :</p>
              <p>Clicked By :</p> 
              <p>Date :</p> 
              <p>Location :</p> 

            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="../static/img/homes/home-2.jpg" target="_blank">
            <img src="../static/img/homes/home-2.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Species Name :</p>
              <p>Clicked By :</p> 
              <p>Date :</p>
              <p>Location :</p> 
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}