{% extends 'layout/layout1.html' %}

{%block title %}
<div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Images Details</h1>
        <p class="lead">Find all the information of your species</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block table%}

{% endblock %}

{% block gallery %}
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="../static/img/butterfly.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blah Blah</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">User -</li>
            <li class="list-group-item">Date -</li>
            <li class="list-group-item">Location -</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="../static/img/butterfly1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blah Blah</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">User -</li>
            <li class="list-group-item">Date -</li>
            <li class="list-group-item">Location -</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="../static/img/butterfly2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blah Blah</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">User -</li>
            <li class="list-group-item">Date -</li>
            <li class="list-group-item">Location -</li>
          </ul>
        </div>
      </div>
    </div>
</div>
{% endblock %}
