{% extends 'layout/auth.html' %} {% block content1 %}
<html>
  <head>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <script>
    console.log("hello");
  </script>
  <body>
    <form action="/login" method="POST">
      <div class="form-container sign-in-container">
        <h1>Login</h1>
        <input type="email" placeholder="Email" name="username" />
        <input type="password" placeholder="Password" name="password" />
        <a href="#">Forgot your password?</a>
        <button>Sign In</button>
      </div>
    </form>
  </body>
</html>
{% endblock %}
