<!--
  File Name: investigationView.html
  File Location: templates/investigationView.html
  File Description: This page is displayed after the investigation officer selects a case to view document details. The page displays all the documents realated to the document, including the critical text extracted, text summarization, proof reading and feedback from the volunteers, etc. IO can assign volunteers which are verified to the document.
  Routes used: assign_volunteer,certificate, dropsession
-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Patang Abhidani</title>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </header>

  <link href="./static/css/animate.css" rel="stylesheet" />
  <link href="./static/css/plugins/dropzone/basic.css" rel="stylesheet" />
  <link href="./static/css/plugins/dropzone/dropzone.css" rel="stylesheet" />
  <link href="./static/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" />
  <link href="./static/css/plugins/codemirror/codemirror.css" rel="stylesheet" />
  <link href="./static/css/style.css" rel="stylesheet" />
  <style>
    .center {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      border: 1px solid black;
    }

    .bold {
      font-weight: bold;
      letter-spacing: 1px;
    }

    .c {
      width: 20%;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="./static/css/all.css" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="./static/css/bootstrap.css" />
  <!-- Custom -->
  <link rel="stylesheet" href="./static/css/style.css" />

  <title>Patang Abhidani</title>
</head>

<body>
  <!-- Top Bar -->
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> (+91) 8087559977
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> contact@patangabhidani.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="./static/img/ourlogo.png" class="logo" alt="" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <ul class="navbar-nav ml-auto">
          {% if doc_data['docInfo'] == "Lead" %}
          <li class="nav-item mr-3">
            <!-- <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">
              Assign Volunteer
            </button> -->
          </li>
          {% endif %}

          {% if user != "LoggedIn" %}
          <li class="nav-item mr-3">
            <a class="nav-link" href="">
              <i class="fas fa-sign-in-alt"></i>
              Login</a>
          </li>
          {% else %}
          <li class="nav-item mr-3">
            <a class="nav-link" href="{{url_for('dropsession')}}">
              <i class="fas fa-sign-in-alt"></i>
              Log-Out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">
            Assign a Volunteer
          </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('assign_volunteer')}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="volunteer" class="col-form-label">Volunteer Name:</label>
              <!--  <input type="text" name="caseId" class="form-control" required> -->
              <select name="volunteer" id="volunteer" class="form-control">
                {% for row in vol_notassign %}
                <option value="{{ row['uid'] }}" class="form-control">{{ row['name'] }}</option>
                {% endfor %}
              </select>
            </div>
            <input type="hidden" name="caseId" value={{doc_data['caseId']}} />
            <input type="hidden" name="documentKey" value={{doc_data['documentKey']}} />
            <hr>
            <input type="submit" value="SUBMIT" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------- add doc ---------------------------------------------------------->
  <br>
  {% if docStatus == "Document is forged. Forgery from IP Address 172.17.0.1/16" %}
  <div class="alert alert-danger">
    <strong>Danger!</strong> {{docStatus}}
  </div>
  {% elif docStatus == "Document is safe" %}
  <div class="alert alert-success">
    <strong>Success!</strong> {{docStatus}}
  </div>
  {% endif %}
  <br>
  <br>
  <br>
  <div class="row" style="padding: 15px;">
    <div class="col-lg-12">

      <div class="ibox product-detail">
        <div class="ibox-content">

          <div class="row">
            <div class="col-md-6">
              <div class="product-images">
                <div>
                  <div class="image-imitation">
                    <img src="{{imgpath}}" />
                  </div>
                  <hr>
                  <br>

                  <br>
                  <h3>Type: The document is {{doc_data['docInfo']}}</h3>
                  <br>
                  <h4 class="font-bold m-b-xs">
                    Summarization of the document:
                  </h4>
                  <div class="small text-muted">
                    {{doc_data['summary']}}
                  </div>
                  <hr>
                </div>
              </div>

            </div>
            <div class="col-md-6">


              <h2 class="font-bold m-b-xs">
                Critical Information from the document:
              </h2>
              {% if doc_data['criticalInfo'] != "NA" %}
              <div class="small text-muted">
                {{doc_data['criticalInfo']|markdown}}
                <br />
                <br />
              </div>
              {% else %}
              <div class="small text-muted">
                {{doc_data['original_ocr']}}
                <br />
                <br />
              </div>
              {% endif %}
              <br>
              <br>
              <!-- <div>
                <form action="{{url_for('certificate')}}" method="POST">
                  <input type="hidden" name="caseId" value={{doc_data['caseId']}} />
                  <input type="hidden" name="documentKey" value={{doc_data['documentKey']}} />
                  <input type="submit" value="Generate Certificate" class="btn btn-primary pull-right"></a>
                </form>
              </div> -->
            </div>
          </div>
          <br><br>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>VolunteerId</th>
                  <th>Proofread Text</th>
                  <th>Include</th>
                </tr>
              </thead>
              <tbody>
                {% for row in doc_data['assigned_vol'] %}
                {% set vol_ocr = row+'_ocr' -%}
                <form action="" method="POST">
                  <tr>
                    <td name="volId">{{row}}</td>
                    <td name="DocType">{{doc_data[vol_ocr]}}</td>
                    <input type="hidden" name="documentKey" value="{{doc_data['documentKey']}}" />
                    <input type="hidden" name="caseId" value="{{doc_data['caseId']}}" />
                    <td><input type="submit" value="Include" class="btn btn-primary"></input></td>
                  </tr>
                </form>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!------------------------------- add doc ends -------------------------------------------------------->

  <!-- Footer -->
  <footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
    <span class="year"></span> Patang Abhidani
  </footer>

  <script src="./static/js/jquery-3.3.1.min.js "></script>
  <script src="./static/js/bootstrap.bundle.min.js "></script>
  <script src="./static/js/main.js "></script>
</body>

</html>