<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://use.fontawesome.com/52438cd5e8.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../static/img/pabhifinal.png" type="image/x-icon">
    <link rel="icon" href="../static/img/pabhifinal.png" type="image/x-icon">
    <title>Patang Abhidani</title>
  </head>

  <link rel="stylesheet" href="../../static/css/navbar.css" />

  <body id="body" style="overflow-x: hidden">
    {% block nav %} {% endblock %}
    <!--Species Details-->
    <section
      style="
        padding-top: 120px;
        padding-bottom: 20px;
        background-image: url(../../static/img/pattern.jpg);
      "
    >
      {% block title %}{% endblock %}
    </section>

    <section id="dashboard" class="py-4" >
      <div class="container-fluid" style="padding: 8px; margin: 32px;">
        <div class="row">
          <div class="col-md-3 filter" style="padding: 0%; margin: 0%;">
            <h3 style="font-family: 'Roboto Slab';"> Apply Filter </h3>

          <!-- Required Stylesheets -->
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
          <link href="https://cdn.jsdelivr.net/gh/hummingbird-dev/hummingbird-treeview@v2.1.7/hummingbird-treeview.min.css" rel="stylesheet">

          <!-- Required Javascript -->
          <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
          <script src="https://cdn.jsdelivr.net/gh/hummingbird-dev/hummingbird-treeview@v2.1.7/hummingbird-treeview.min.js"></script>
          
          <style>
            .fsearch{
              width: 130px;
              box-sizing: border-box;
              border: 2px solid #ccc;
              border-radius: 4px;
              font-size: 16px;
              background-color: white;
              background-image: url('searchicon.png');
              background-position: 10px 10px; 
              background-repeat: no-repeat;
              padding: 12px 20px 12px 40px;
              -webkit-transition: width 0.4s ease-in-out;
              transition: width 0.4s ease-in-out;
            }

            .fsearch:focus{
              width: 90%;
            }

            hr.fhr{
              border: 1px rgb(11, 83, 131);
              opacity: 1;
              border-style: dashed;
              width: 90%;
            }
          </style>
          <ul>
            <li>
              <!-- <input type="text" name="search" placeholder="Search.." class="fsearch"> -->
              <hr class="fhr">
            </li>
          </ul>
          

          <form action="{{url_for('updateTable')}}" method="POST">
            <div id="treeview_container1" class="hummingbird-treeview" >
              <ul id="treeview" class="hummingbird-base">
                <li data-id="species">
                  <i class="fa fa-plus"></i>
                  <label>
                    <input id="xnode-0" data-id="custom-0" type="checkbox" /> Species
                  </label>
                  <ul>
                    {% for sub_family in sub_family %}
                      {% if sub_family[0] is in sfam %}
                        <li data-id="1">
                          <i class="fa fa-plus"></i>
                          <label>
                            <input  id="xnode-0-1" data-id="custom-0-1" type="checkbox" name="sfam" value="{{sub_family[0]}}" checked/> {{sub_family[0]}}
                          </label>
                          <ul>
                            {% for sub_sub_family in sub_sub_family %} 
                              {% if sub_sub_family[1] == sub_family[0] and sub_sub_family[0] != '' %}
                                {% if sub_sub_family[0] is in ssfam %}
                                <li>
                                  <i class="fa fa-plus"></i>
                                  <label>
                                    <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="ssfam" value="{{sub_sub_family[0]}}" checked/> {{sub_sub_family[0]}}
                                  </label>
                                  <ul>
                                    {% for species_name in species_name %} 
                                      {% if species_name[2] == sub_family[0] and species_name[1] == sub_sub_family[0] %}
                                        {% if species_name[0] is in spec %}
                                        <li>
                                          <i class="fa fa-plus"></i>
                                          <label>
                                            <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}" checked/>{{species_name[0]}}
                                          </label>
                                          <ul>
                                            {% for species in species %} 
                                              {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                                {%if species[0] is in sub_spec %}
                                                <li>
                                                  <label>
                                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                                  </label>
                                                </li>
                                                {% else %}
                                                <li>
                                                  <label>
                                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                                  </label>
                                                </li>
                                                {% endif %}
                                              {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </li>
                                        {% else %}
                                        <li>
                                          <i class="fa fa-plus"></i>
                                          <label>
                                            <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}"/>{{species_name[0]}}
                                          </label>
                                          <ul>
                                            {% for species in species %} 
                                              {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                                {%if species[0] is in sub_spec %}
                                                <li>
                                                  <label>
                                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                                  </label>
                                                </li>
                                                {% else %}
                                                <li>
                                                  <label>
                                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                                  </label>
                                                </li>
                                                {% endif %}
                                              {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </li>
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                  </ul>
                                </li>
                                {% else %}
                                <li>
                                  <i class="fa fa-plus"></i>
                                  <label>
                                    <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="ssfam" value="{{sub_sub_family[0]}}" /> {{sub_sub_family[0]}}
                                  </label>
                                  <ul>
                                    {% for species_name in species_name %} 
                                      {% if species_name[2] == sub_family[0] and species_name[1] == sub_sub_family[0] %}
                                        {% if species_name[0] is in spec %}
                                        <li>
                                          <i class="fa fa-plus"></i>
                                          <label>
                                            <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}" checked/>{{species_name[0]}}
                                          </label>
                                          <ul>
                                            {% for species in species %} 
                                              {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                                {%if species[0] is in sub_spec %}
                                                <li>
                                                  <label>
                                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                                  </label>
                                                </li>
                                                {% else %}
                                                <li>
                                                  <label>
                                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                                  </label>
                                                </li>
                                                {% endif %}
                                              {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </li>
                                        {% else %}
                                        <li>
                                          <i class="fa fa-plus"></i>
                                          <label>
                                            <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}"/>{{species_name[0]}}
                                          </label>
                                          <ul>
                                            {% for species in species %} 
                                              {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                                {%if species[0] is in sub_spec %}
                                                <li>
                                                  <label>
                                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                                  </label>
                                                </li>
                                                {% else %}
                                                <li>
                                                  <label>
                                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                                  </label>
                                                </li>
                                                {% endif %}
                                              {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </li>
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                  </ul>
                                </li>
                                {% endif %}
                              {% elif sub_sub_family[1] == sub_family[0] and sub_sub_family[0] == '' %} 
                                {% for species_name in species_name %}
                                  {% if species_name[2] == sub_family[0] %}
                                    {% if species_name[0] is in spec %}
                                    <li>
                                      <i class="fa fa-plus"></i>
                                      <label>
                                        <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}" checked/>{{species_name[0]}}
                                      </label>
                                      <ul>
                                        {% for species in species %} 
                                          {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                            {%if species[0] is in sub_spec %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                                </label>
                                              </li>
                                            {% else %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                                </label>
                                              </li>
                                            {% endif %}
                                          {% endif %}
                                        {% endfor %}
                                      </ul>
                                    </li>
                                    {% else %}
                                    <li>
                                      <i class="fa fa-plus"></i>
                                      <label>
                                        <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}" />{{species_name[0]}}
                                      </label>
                                      <ul>
                                        {% for species in species %} 
                                          {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                            {%if species[0] is in sub_spec %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                                </label>
                                              </li>
                                            {% else %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                                </label>
                                              </li>
                                            {% endif %}
                                          {% endif %}
                                        {% endfor %}
                                      </ul>
                                    </li>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </li>
                      {% else %}
                      <li data-id="1">
                        <i class="fa fa-plus"></i>
                        <label>
                          <input  id="xnode-0-1" data-id="custom-0-1" type="checkbox" name="sfam" value="{{sub_family[0]}}" /> {{sub_family[0]}}
                        </label>
                        <ul>
                          {% for sub_sub_family in sub_sub_family %} 
                            {% if sub_sub_family[1] == sub_family[0] and sub_sub_family[0] != '' %}
                              {% if sub_sub_family[0] is in ssfam %}
                              <li>
                                <i class="fa fa-plus"></i>
                                <label>
                                  <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="ssfam" value="{{sub_sub_family[0]}}" checked/> {{sub_sub_family[0]}}
                                </label>
                                <ul>
                                  {% for species_name in species_name %} 
                                    {% if species_name[2] == sub_family[0] and species_name[1] == sub_sub_family[0] %}
                                      {% if species_name[0] is in spec %}
                                      <li>
                                        <i class="fa fa-plus"></i>
                                        <label>
                                          <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}" checked/>{{species_name[0]}}
                                        </label>
                                        <ul>
                                          {% for species in species %} 
                                            {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                              {%if species[0] is in sub_spec %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                                </label>
                                              </li>
                                              {% else %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                                </label>
                                              </li>
                                              {% endif %}
                                            {% endif %}
                                          {% endfor %}
                                        </ul>
                                      </li>
                                      {% else %}
                                      <li>
                                        <i class="fa fa-plus"></i>
                                        <label>
                                          <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}"/>{{species_name[0]}}
                                        </label>
                                        <ul>
                                          {% for species in species %} 
                                            {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                              {%if species[0] is in sub_spec %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                                </label>
                                              </li>
                                              {% else %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                                </label>
                                              </li>
                                              {% endif %}
                                            {% endif %}
                                          {% endfor %}
                                        </ul>
                                      </li>
                                      {% endif %}
                                    {% endif %}
                                  {% endfor %}
                                </ul>
                              </li>
                              {% else %}
                              <li>
                                <i class="fa fa-plus"></i>
                                <label>
                                  <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="ssfam" value="{{sub_sub_family[0]}}" /> {{sub_sub_family[0]}}
                                </label>
                                <ul>
                                  {% for species_name in species_name %} 
                                    {% if species_name[2] == sub_family[0] and species_name[1] == sub_sub_family[0] %}
                                      {% if species_name[0] is in spec %}
                                      <li>
                                        <i class="fa fa-plus"></i>
                                        <label>
                                          <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}" checked/>{{species_name[0]}}
                                        </label>
                                        <ul>
                                          {% for species in species %} 
                                            {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                              {%if species[0] is in sub_spec %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                                </label>
                                              </li>
                                              {% else %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                                </label>
                                              </li>
                                              {% endif %}
                                            {% endif %}
                                          {% endfor %}
                                        </ul>
                                      </li>
                                      {% else %}
                                      <li>
                                        <i class="fa fa-plus"></i>
                                        <label>
                                          <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}"/>{{species_name[0]}}
                                        </label>
                                        <ul>
                                          {% for species in species %} 
                                            {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                              {%if species[0] is in sub_spec %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                                </label>
                                              </li>
                                              {% else %}
                                              <li>
                                                <label>
                                                  <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                                </label>
                                              </li>
                                              {% endif %}
                                            {% endif %}
                                          {% endfor %}
                                        </ul>
                                      </li>
                                      {% endif %}
                                    {% endif %}
                                  {% endfor %}
                                </ul>
                              </li>
                              {% endif %}
                            {% elif sub_sub_family[1] == sub_family[0] and sub_sub_family[0] == '' %} 
                              {% for species_name in species_name %}
                                {% if species_name[2] == sub_family[0] %}
                                  {% if species_name[0] is in spec %}
                                  <li>
                                    <i class="fa fa-plus"></i>
                                    <label>
                                      <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}" checked/>{{species_name[0]}}
                                    </label>
                                    <ul>
                                      {% for species in species %} 
                                        {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                          {%if species[0] is in sub_spec %}
                                            <li>
                                              <label>
                                                <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                              </label>
                                            </li>
                                          {% else %}
                                            <li>
                                              <label>
                                                <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                              </label>
                                            </li>
                                          {% endif %}
                                        {% endif %}
                                      {% endfor %}
                                    </ul>
                                  </li>
                                  {% else %}
                                  <li>
                                    <i class="fa fa-plus"></i>
                                    <label>
                                      <input id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" name="spec" value="{{species_name[0]}}" />{{species_name[0]}}
                                    </label>
                                    <ul>
                                      {% for species in species %} 
                                        {% if species[1] == species_name[0] and species[3] == species_name[2] %} 
                                          {%if species[0] is in sub_spec %}
                                            <li>
                                              <label>
                                                <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" checked/>{{species[0]}}
                                              </label>
                                            </li>
                                          {% else %}
                                            <li>
                                              <label>
                                                <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="sub_spec" value="{{species[0]}}" />{{species[0]}}
                                              </label>
                                            </li>
                                          {% endif %}
                                        {% endif %}
                                      {% endfor %}
                                    </ul>
                                  </li>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>

                <li data-id="location">
                  <i class="fa fa-plus"></i>
                  <label>
                    <input id="xnode-0" data-id="custom-0" type="checkbox" /> Location
                  </label>
                  <ul>
                    {%for state in state %}
                      {% if state[0] is in state_f %}
                      <li>
                        <i class="fa fa-plus"></i>
                          <label>
                            <input  id="xnode-0-1" data-id="custom-0-1" type="checkbox" name="st" value="{{state[0]}}" checked/> {{state[0]}}
                          </label>
                          <ul>
                            {% for location in location %} 
                              {%if location[1] == state[0] %} 
                                {% if location[0] is in places %}
                                <li>
                                  <label>
                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="locn" value="{{location[0]}}" checked/>{{location[0]}}
                                  </label>
                                </li>
                                {% else %}
                                <li>
                                  <label>
                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="locn" value="{{location[0]}}" />{{location[0]}}
                                  </label>
                                </li>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                          </ul>
                      </li>
                      {% else %}
                        <li>
                        <i class="fa fa-plus"></i>
                          <label>
                            <input  id="xnode-0-1" data-id="custom-0-1" type="checkbox" name="st" value="{{state[0]}}" /> {{state[0]}}
                          </label>
                          <ul>
                            {% for location in location %} 
                              {%if location[1] == state[0] %} 
                                {% if location[0] is in places %}
                                <li>
                                  <label>
                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="locn" value="{{location[0]}}" checked/>{{location[0]}}
                                  </label>
                                </li>
                                {% else %}
                                <li>
                                  <label>
                                    <input class="hummingbird-end-node" id="xnode-0-2-1" data-id="custom-0-2-1" type="checkbox" name="locn" value="{{location[0]}}" />{{location[0]}}
                                  </label>
                                </li>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                          </ul>
                      </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                
                <hr class="fhr">

                <li>
                  <!-- Select Month & Year -->
                  <h3>Choose Month & Year</h3>
                  <!-- {{mnth}}<br> -->
                  <input type="month" name="mnth" id="mnth" value="{{mnth}}" />          
                </li>
              </ul>
            </div>
            <div class="goclear" style="margin-top: 25px;">
              <ul>
                <li>
                  <button class="button"  type="submit"> Go</button>
                  <a class="button2 refreshpage" href="{{url_for('images_grid')}}">Clear</a>
                </li>
              </ul>
            </div>
            
          </form>
          <script>
            $(document).ready(function() {
              $("#treeview").hummingbird();
              $("#treeview").hummingbird("search",{treeview_container:"treeview_container1", search_input:"search_input", search_output:"search_output", search_button:"search_button", scrollOffset:-515, onlyEndNodes:true});
              //document.getElementById("mnth").defaultValue = "2020-10";
            })
          </script>
          </div>
          
          <div class="col-md-9" >
            <ul class="nav nav-pills" id="myTab" role="tablist">
              <!-- <li class="nav-item" role="presentation">
                <button
                  class="btn btn-primary btn-lg nav-link active"
                  id="Table-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#Table"
                  type="button"
                  role="tab"
                  aria-controls="Table"
                  aria-selected="true"
                >
                  <a
                    href="#"
                    data-toggle="tooltip"
                    title="Data in tabular format"
                    id="btnnn"
                    >Table</a
                  >
                </button>
              </li> -->

              <li class="nav-item" role="presentation">
                <button
                  class="btn btn-primary btn-lg nav-link active"
                  id="Gallery-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#Gallery"
                  type="button"
                  role="tab"
                  aria-controls="Gallery"
                  aria-selected="true"
                >
                  <a
                    href="#"
                    data-toggle="tooltip"
                    title="Click to view images and description"
                  >
                   <b> Gallery </b></a
                  >
                </button>
              </li>

              <li class="nav-item" role="presentation">
                <button
                  class="btn btn-primary btn-lg nav-link"
                  id="Map-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#Map"
                  type="button"
                  role="tab"
                  aria-controls="Map"
                  aria-selected="false"
                >
                  <a
                    href="#"
                    data-toggle="tooltip"
                    title="Click to view distribution of Skippers pan India"
                    > <b> Topology </b></a
                  >
                </button>
              </li>

              <li class="nav-item" role="presentation">
                <button
                  class="btn btn-primary btn-lg nav-link"
                  id="Table-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#Table"
                  type="button"
                  role="tab"
                  aria-controls="Table"
                  aria-selected="false"
                >
                  <a
                    href="#"
                    data-toggle="tooltip"
                    title="Data in tabular format"
                    id="btnnn"
                    > <b> Distribution </b></a
                  >
                </button>
              </li>

              <li class="nav-item" role="presentation">
                <button
                  class="btn btn-primary btn-lg nav-link"
                  id="Analysis-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#Analysis"
                  type="button"
                  role="tab"
                  aria-controls="Analysis"
                  aria-selected="false"
                >
                <a
                    href="#"
                    data-toggle="tooltip"
                    title="Click to view Analysis of Data"
                    >
                 <b>   Visualization  </b></a>
                </button>
              </li>  

              <li class="nav-item" role="presentation">
                <button
                  class="btn btn-primary btn-lg nav-link"
                  id="Analysis-tab"
                  type="button"
                  role="tab"
                  aria-controls="Analysis"
                  aria-selected="false"
                  onclick="exportTableToCSV('butterflies.csv')"
                >
                  <a
                    href="#"
                    data-toggle="tooltip"
                    title="Click to view download data"
                  >
                   <b>Download </b></a
                  >
                </button>
              </li>
            </ul>
            <hr class="fhr">

            <div class="tab-content" id="myTabContent">
              <div
                style="padding: 10px; margin-right: 100px;"
                class="tab-pane fade show active"
                id="Gallery"
                role="tabpanel"
                aria-labelledby="Gallery-tab"
              >
                {% block gallery %}{% endblock %}
              </div>
              <div
                style="
                  align-content: center;
                  background: linear-gradient(to right, #56ab2f, #a8e063);
                  border-radius: 8px;
                  margin-top: 10px;
                  margin-right: 100px;
                "
                class="tab-pane fade"
                id="Map"
                role="tabpanel"
                aria-labelledby="Map-tab"
              >
                <h5
                  style="
                    font-weight: bold;
                    text-align: center;
                    font-size: 30px;
                    padding-top: 10px;
                  "
                >
                  DISTRIBUTION OF SKIPPER BUTTERFLIES PAN INDIA
                </h5>
                {% block map %}{% endblock %}
                <!-- <div class="embed-responsive embed-responsive-21by9">
                  <iframe
                  id="map"
                    src="http://127.0.0.1:5000/map"
                    height="500px"
                    class="embed-responsive-item"
                    frameborder="0"
                    style="width: 100%; padding-bottom: 20px"
                  ></iframe>
                </div> -->
                <!-- <div class="embed-responsive embed-responsive-21by9">
                  <iframe
                  id="map_filter"
                    src="http://127.0.0.1:5000/map_filter"
                    height="500px"
                    class="embed-responsive-item"
                    frameborder="0"
                    style="width: 100%; padding-bottom: 20px;display: none;"
                  ></iframe>
                </div> -->
              </div>

              <div
                style="padding: 10px; margin-right: 50px;"
                class="tab-pane fade"
                id="Table"
                role="tabpanel"
                aria-labelledby="Table-tab"
              >
                {% block table %}{% endblock %}
              </div>
              
              <div
                style="padding: 10px; margin-right: 100px;"
                class="tab-pane fade"
                id="Analysis"
                role="tabpanel"
                aria-labelledby="Analysis-tab"
              >
              {% block analysis %}{% endblock %}
              </div>
              <div
                style="padding: 10px; margin-right: 50px;"
                class="tab-pane fade"
                id="Download"
                role="tabpanel"
                aria-labelledby="Download-tab"
              >
                ..ss.
              </div>
            </div>
          </div>
          <!-- {% block content %}{% endblock %} -->
        </div>
      </div>
    </section>

    <!-- Footer -->
    <!-- Java Script
    ================================================== -->
    <script src="./static/js/plugins.js"></script>
    <script src="./static/js/citizen_main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <footer
      class="page-footer font-small blue pt-4"
      style="
        align-items: center;
        align-content: center;
        background-color: black;
      "
    >
      <!-- Footer Links -->
      <div
        class="container-fluid text-center text-md-center"
        style="align-items: center; align-content: center"
      >
        <div class="row" style="align-items: center; align-content: center">
          <div class="col-md-6 mt-md-0 mt-3">
            <h1 class="text-uppercase" style="color: aliceblue">
              Patang Abhidani
            </h1>
            <p style="color: #00a650; font-size: 18px;">
              A complete guide on skipper butterflies 
            </p>
          </div>
          <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="linke" style="color: aliceblue">For Enquiries</h5>
            <h6 class="linke" style="color: aliceblue"> <i class="fa fa-envelope" aria-hidden="true"></i> Email: greenworkstrust2016@gmail.com</h6>
          </div>
          <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="linke" style="color: aliceblue">
              <i class="fa fa-phone"></i> Contact us: 9819330222
            </h5>
            <h5 class="linke" style="color: aliceblue">Follow us: 
              <a href="http://twitter.com/greenworkstrust" target="_blank" style="color: aliceblue;"> <i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/GreenWorksTrust/" target="_blank" style="color: aliceblue;"> <i class="fa fa-facebook-f" aria-hidden="true" ></i></a>
            </h5>
          </div>
          <div class="col-md-6 mt-md-0 mt-3">
            <h6 class="linke" style="color: aliceblue">Developed by: Dept. of Computer Engineering, Vivekanand Education Society's Institute Of Technology</h6>
            <h6 class="linke" style="color: aliceblue">
              In association with: Greenworks Trust
            </h6>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3" />
        </div>
      </div>
      <!-- Copyright -->
    </footer>

    <!-- <script src="./static/js/bootstrap.bundle.min.js "></script> -->
    <script src="./static/js/main.js "></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>

    <style>
      #analysis {
        display: none;
      }
    </style>
    <script>
      function myFunction() {
        var x = document.getElementById("analysis");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
    </script>
  </body>
</html>
